<div class="container mb-5">
  <div class="row">
    <div class="col-2">
      <a mat-raised-button routerLink="add-problem" class="primary">
        <i class="fa fa-plus"></i> Add New Problem
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="standard">
        <mat-label>Filter Records</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="type your filter"
          #input
        />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Problem name
            </th>
            <td mat-cell *matCellDef="let row">
              <a class="" routerLink="../problems/{{ row.id }}" target="_blank">
                {{ row.title }}</a
              >
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="topicName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Topic</th>
            <td mat-cell *matCellDef="let row">{{ row.topicName }}</td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="fruit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
            <td mat-cell *matCellDef="let row">
              <a
                mat-raised-button
                color=""
                class="m-2"
                routerLink="add-problem/{{ row.id }}"
                target="_blank"
              >
                Edit</a
              >
              <a mat-raised-button color="warn" (click)="deleteProblem(row.id)">
                Delete</a
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 20, 50, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
