/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cursor-pointer {
  cursor: pointer;
}
.green {
  color: #1ba94c;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.width-100-percent {
  width: 100%;
}
.input-area {
  resize: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  background-color: #f8feff;
  color: #0c464a;
  border: 2px dashed #aefbb1;
}
.output-area {
  resize: none;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  background-color: #f8feff;
  border: 2px dashed #aefbb1;
}
.loading-icons {
  margin-left: 10px;
}
.width-50-percent {
  width: 50%;
}
.language-dr,
.font-dr {
  width: 100px;
}
