.scrollmargin {
  height: 80px;
  text-align: center;
}

.io-container {
  height: 200px;
  max-height: 200px;
  transition: 120ms;
  overflow-x: hidden;
}

.submit-btn {
  background-color: #1ba94c;
}
.mtb-10 {
  margin: 10px 0px 10px 0px;
}
.submit-icon {
  margin-bottom: 4px;
}
.console-icon {
  margin-left: 5px;
  margin-bottom: 5px;
}

.spinner-grow {
  transform: scale(0.0001);
}
.content {
  max-height: 626px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.content:hover {
  overflow-y: scroll;
  overflow-x: auto;
}
.solution {
  padding: 15px;
}
