<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-6">
      <div class="row" *ngIf="problem">
        <div class="col-12">
          <mat-tab-group animationDuration="0ms">
            <mat-tab label="Problem Description">
              <div class="content" *ngIf="problem">
                <h3 class="mt-1">
                  <b>{{ problem?.topicName }}</b>
                </h3>
                <div [innerHTML]="problem?.problemContent"></div>
              </div>
              <br />
              <br />
              <br />
            </mat-tab>
            <mat-tab label="Solution">
              <div class="solution" *ngIf="problem?.solutionVideoLink">
                <h3>Do not give up too soon, Just try once more...</h3>

                <iframe
                  width="560"
                  height="315"
                  [src]="src"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>

                <h3>
                  Watch complete solution here:
                  <a [href]="problem?.solutionVideoLink" target="_blank">
                    {{ problem?.title }}</a
                  >
                </h3>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-3">
          <mat-form-field appearance="standard" class="language-dr">
            <mat-label>Languages</mat-label>
            <mat-select
              [(value)]="selectedLanguage"
              (selectionChange)="onLaguageChange($event)"
            >
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{ lang.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="standard">
            <mat-label>Themes</mat-label>
            <mat-select [(value)]="selectedTheme">
              <mat-option *ngFor="let theme of themes" [value]="theme">
                {{ theme.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="standard" class="font-dr">
            <mat-label>Font size</mat-label>
            <mat-select [(value)]="selectedFont">
              <mat-option *ngFor="let font of fonts" [value]="font">
                {{ font.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row" *ngIf="defaultScript">
          <div class="col-12">
            <app-code-editor
              [changeNotifier]="editorchangeNotifier"
              [script]="defaultScript"
              [editorMode]="selectedLanguage.modeName"
              [theme]="selectedTheme.code"
              [fontSize]="selectedFont.name"
            ></app-code-editor>
          </div>
        </div>
      </div>
    </div>
    <div class="row fixed-bottom bg-light">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="row io-container" *ngIf="showIOContainer">
          <div class="col-11">
            <mat-tab-group
              animationDuration="0ms"
              [(selectedIndex)]="selectedIOContainerTab"
            >
              <mat-tab label="INPUT">
                <textarea
                  [(ngModel)]="problem.sampleTestCase.input"
                  class="input-area m-2"
                  cols="78"
                  rows="7"
                >
                </textarea>
              </mat-tab>
              <mat-tab label="OUTPUT">
                <textarea class="output-area m-2" cols="81" rows="6" disabled>{{
                  output
                }}</textarea>
              </mat-tab>
            </mat-tab-group>
          </div>
          <div class="col-1">
            <i
              (click)="toggleIOContainer()"
              class="fa fa-chevron-down mt-3 p-1 cursor-pointer"
            ></i>
          </div>
        </div>
        <div class="row mtb-10">
          <div class="col-6">
            <button mat-button color="primary" (click)="toggleIOContainer()">
              Console
              <i
                class="fa fa-chevron-up console-icon"
                [ngClass]="{ 'fa-chevron-up': !showIOContainer }"
                [ngClass]="{ 'fa-chevron-down': showIOContainer }"
              ></i>
            </button>
            <ng-container *ngIf="isExecuting">
              <div
                class="spinner-grow text-primary loading-icons"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-border loading-icons" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div
                class="spinner-grow text-success loading-icons"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
            </ng-container>
            <ng-container *ngIf="!isExecuting">
              <span *ngIf="statusCode == 0" class="text-danger m-2 font-16">
                <i class="fa fa-times-circle m-1"></i>
                {{ status }}
              </span>
              <span *ngIf="statusCode == 1" class="green m-2 font-16">
                <i class="fa fa-check-circle m-1"></i>
                {{ status }}
              </span>
              <span *ngIf="statusCode == 2" class="green m-2 font-16">
                <i class="fa fa-check m-1"></i>
                {{ status }}
              </span>
            </ng-container>
          </div>
          <div class="col-3">
            <button
              mat-raised-button
              color="secondary"
              class=""
              (click)="run()"
              [disabled]="isExecuting"
            >
              <i class="fa fa-play"></i>
              COMPILE & RUN
            </button>
          </div>
          <div class="col-2">
            <button
              mat-raised-button
              color="accent"
              class="submit-btn"
              [disabled]="isExecuting"
              (click)="run(false)"
            >
              <i class="fa fa-check-circle submit-icon"></i> SUBMIT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
